<!-- <section>
  <h2>Customers</h2>
    <ng-container *ngIf="customers$ | async as customers">
    <p *ngIf="customers.length === 0">No customers found.</p>

    <ul *ngIf="customers.length > 0">
      <li *ngFor="let customer of customers">
        {{ customer.firstName }} {{ customer.lastName }} ({{ customer.email }}) - {{ customer.status }}
      </li>
    </ul>
  </ng-container>
  <app-customer-item></app-customer-item>
</section> -->

<div class="min-h-screen py-10">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <app-customer-page-header />
    <app-customer-list />
  </div>
</div>